.city-table{
    width: 100vw;
    border: 2px solid rgb(222, 226, 230);
}

th td{
    padding: 8px;
}

.header{
    font-weight: 700;
}

.pagination{
    width: 100vw;
    height: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(222, 226, 230);
}
.pagination-field{
    width: 40px;
    text-align: center;
}