.city-table{
    width: 100vw;
    margin-top: 30px;
}

th, td{
    padding: 8px;
    text-align: center;
    text-align: inherit !important;
}

.header{
    font-weight: 700;
}

.pagination{
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(222, 226, 230);
}
.pagination-field{
    width: 40px;
    text-align: center;
}

.page-button{
    height: 80%;
    width: 60px;
    border: 2px solid #7952b3;
    border-radius: 10px;
    text-align: center;

}

.flag{
    width: 15px;
    height: 15px;
    margin-right: 10px;

}